mkdocs==1.3.0            # Main documentation generator.
mkdocs-material==9.1.8   # Theme
pymdown-extensions==9.4  # Markdown extensions e.g. to handle LaTeX.
mkdocstrings==0.17.0     # Autogenerate documentation from docstrings.
mknotebooks==0.7.1       # Turn Jupyter Lab notebooks into webpages.